<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <link rel="stylesheet" href="{{url_for('static',filename='styles/info.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet" />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>{{room.name}}-RoomBook</title>
    <link rel="shortcut icon" type="image/jpg" href="{{url_for('static',filename="images/RoomBook_Logo.png")}}"/>
  </head>

  <body>

    <!-- NAVBAR -->
    <header>
      <div class="container my-4">
                <!-- Navbar -->
                <nav class="navbar navbar-expand-lg navbar-light custom-nav">
                    <div class="container-fluid" style="margin-bottom: -60px; height: 80px;">
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <a class="navbar-brand" href="{{url_for('main.home')}}">
                                <img style="margin-top: -15px;"
                                    src="{{url_for('static', filename="images/logo.jpeg")}}">
                                <span>ROOMBOOK</span>
                            </a>
                        </div>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" style="background-color: transparent;"
                            id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <a class="nav-link" style="color: white;" href="{{url_for('main.home')}}">Home</a>
                                <a class="nav-link" style="color: white" href="{{url_for('users.history')}}">Transaction</a>
                                <div class="nav-profile">
                                    <li class="nav-item dropdown" style="color: white; display: flex;">
                                        <img src="{{url_for('static', filename="images/" + current_user.image_file)}}"
                                            style="flex: 3;  margin-left: 25px;
                                width: 60px; height: 60px; border-radius: 50%;" alt="">
                                        <a class="nav-link dropdown-toggle" style="color: white; flex: 1;" href="#"
                                            id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            {{current_user.username}}
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                                            style="background-color: #3D3D3D;">
                                            <li><a class="dropdown-item" href="{{url_for('users.account')}}"
                                                    style="color: white;">Profile</a>
                                            </li>
                                            <li><a class="dropdown-item" href="{{url_for('users.logout')}}"
                                                    style="color: #BB86FC;">Log
                                                    Out</a></li>
                                        </ul>
                                    </li>
                                </div>

                            </div>
                        </div>
                    </div>
                </nav>
            </div> <br> <br>

            <div class="row">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} d-flex justify-content-center">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
    </header>

    <body>
      
      <div class="container-isi" data-aos="zoom-in" data-aos-duration="1000">
        <div class="profile">
          <img src="{{url_for('static',filename="images/" + current_user.image_file)}}" alt="" data-aos="flip-left"
            data-aos-duration="500" data-aos-delay="1000">
          <!-- Ganti username nya nanti -->
          <p class="username" data-aos="fade-left" data-aos-duration="500" data-aos-delay="1000">{{current_user.username}}</p>
          <ul class="list-group mt-5 me-4" data-aos="flip-left" data-aos-duration="500" data-aos-delay="1000">
            <li class="mb-3 list-group-item active" aria-current="true">Room Information</li>
            <li class="mb-3 list-group-item">Book Reservation</li>
            <li class="mb-3 list-group-item">Confirmation and Payment</li>
          </ul>
        </div>

        <div class="isi-utama scrollspy-example" data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" tabindex="0">
          <div class="bagian-tengah mt-3 pb-3">
            <div class="container">
                <form method="POST" action="" enctype="multipart/form-data">
                {{  form.hidden_tag()   }}
                <div class="mb-4 mt-5">
                  <h1 class="text-white">Edit Room Information</h1>
                </div>
                <div class="mb-3">
                  {{ form.name.label(class="form-control-label") }}
                  {% if form.name.errors %}
                      {{ form.name(class="form-control is-invalid bg-dark text-light") }}
                      <div class="invalid-feedback">
                          {% for error in form.name.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.name(class="form-control bg-dark text-light") }}
                  {% endif %}  
                </div>  
                <div class="mb-3">
                  {{ form.location.label(class="form-control-label") }}
                  {% if form.location.errors %}
                      {{ form.location(class="form-control is-invalid bg-dark text-light") }}
                      <div class="invalid-feedback">
                          {% for error in form.location.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.location(class="form-control bg-dark text-light") }}
                  {% endif %}  
                </div>
                <div class="mb-3">
                  {{ form.room_type.label(class="form-control-label") }}
                  {% if form.room_type.errors %}
                      {{ form.room_type(class="form-control is-invalid bg-dark text-light") }}
                      <div class="invalid-feedback">
                          {% for error in form.room_type.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.room_type(class="form-control bg-dark text-light") }}
                  {% endif %}  
                </div>  
                <div class="mb-3">
                  {{ form.capacity.label(class="form-control-label") }}
                  {% if form.capacity.errors %}
                      {{ form.capacity(class="form-control is-invalid bg-dark text-light") }}
                      <div class="invalid-feedback">
                          {% for error in form.capacity.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.capacity(class="form-control bg-dark text-light") }}
                  {% endif %}  
                </div>  
                <div class="mb-3">
                  {{ form.information.label(class="form-control-label") }}
                  {% if form.information.errors %}
                      {{ form.information(class="form-control is-invalid bg-dark text-light") }}
                      <div class="invalid-feedback">
                          {% for error in form.information.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.information(class="form-control bg-dark text-light", style="height:200px;") }}
                  {% endif %}  
                </div>  
                <div class="mb-3">
                  {{ form.picture.label(class="form-control-label") }}
                  {% if form.picture.errors %}
                      {{ form.picture(class="form-control is-invalid bg-dark text-light") }}
                      <div class="invalid-feedback">
                          {% for error in form.picture.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.picture(class="form-control bg-dark text-light") }}
                  {% endif %}
                  <div class="form-text text-light">You can upload more than one file</div>  
                </div> 
                <div class="mb-3 btn-group mt-4">
                  <a class="btn btn-lg btn-danger me-5" href="{{url_for('rooms.room',id=room.id)}}">Cancel</a>
                  {{form.submit(class = "btn btn-lg btn-primary")}}
                </div>
              </form>
              </div>
            </div>
          </div>
          </div>
          
        </div>
      </div>
            <!-- Modal -->
      <div class="modal fade" id="areYouSure" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content bg-dark text-white">
            <div class="modal-header">
              <h3 class="modal-title" style="color: #BB86FC;">Apakah Anda Yakin Akan Memesan?</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <table class="table table-dark table-striped">
                <tbody>
                  <tr>
                    <th scope="row">Ruangan</th>
                    <td>{{room.name}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Tanggal Pemesanan</th>
                    <td id="modal-tanggal">
                      <div>
                        <ul class="list-group justify-content-start">
                          
                        </ul>
                      </div> 
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Biaya</th>
                    <td id="modal-biaya"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" onclick="submitDate()">Pesan</button>
            </div>
          </div>
        </div>
      </div>
      <content>

      </content>

      <!-- FOOTER -->
      <footer>
        <div class="copyright">
          <h5>Copyright 2021 All Rights Reserved RoomBook.</h5>
        </div>
      </footer>

      <!-- Optional JavaScript; choose one of the two! -->

      <!-- Option 1: Bootstrap Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

      <!-- Option 2: Separate Popper and Bootstrap JS -->
      <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->

      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
        AOS.init({
          once: true,
        });
      </script>
    </body>

</html>