<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='styles/login.css')}}">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <title>Login-RoomBook</title>
    <link rel="shortcut icon" type="image/jpg" href="{{url_for('static',filename="images/RoomBook_Logo.png")}}"/>
  </head>
  <body>
    <div class="container-body">
        <div class="row">
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    {% for category, message in messages %}
                      <div class="alert alert-{{ category }} d-flex justify-content-center">
                        {{ message }}
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
        </div>
        <div class="container-utama" data-aos="zoom-in" data-aos-duration="1000">
          <i class="fas fa-lock" data-aos="flip-left" data-aos-delay="1000"  data-aos-duration="1000"></i>
            <div class="container-form">
                <form method="POST" action="">
                    {{  form.hidden_tag()   }}
                    <div class="mb-3" data-aos="fade-up" data-aos-delay="1000">
                      {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                            {{ form.email(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control-plaintext") }}
                        {% endif %}
                    </div>
                    <div class="mb-3" data-aos="fade-up" data-aos-delay="1500">
                        {{form.password.label(class = "form-control-label")}}
                        {% if form.password.errors %}
                            {{form.password(class = "form-control is-invalid")}}
                            <div class = "invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{error}}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                                {{form.password(class = "form-control-plaintext")}}
                        {% endif %} 
                        <div id="passwordHelp" class="form-text">
                          <a href="{{url_for('users.reset_request')}}" style="color: #BB86FC;">Forgot Password?</a>
                        </div>
                    </div>
                    <div class="mb-3" style="margin-top: 30px;" data-aos="fade-up" data-aos-delay="2500">
                      {{ form.remember(class = "form-check-input", style = "background-color:gray;")}}
                      {{ form.remember.label(class = "form-check-label")}}
                      {{form.submit(class = "btn btn-sm", style="background-color: #BB86FC; margin-left:80%; margin-top:5%; color:Black;")}}
                    </div>
                  </form>
            </div>
        </div>
        <div>
          <h6 style="margin-top: 5px;">Doesn't have an account? <a href="{{url_for('users.register')}}" style="text-decoration: none; color:#BB86FC">Register</a></h6>
        </div>    
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>