<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <link rel="stylesheet" href="{{url_for('static',filename='styles/payment.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet" />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>{{room.name}}-RoomBook</title>
    <link rel="shortcut icon" type="image/jpg" href="{{url_for('static',filename="images/RoomBook_Logo.png")}}"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Note: replace with src="https://app.midtrans.com/snap/snap.js" for Production environment -->
  </head>

  <body>

    <!-- NAVBAR -->
    <header>
      <div class="container my-4">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light custom-nav">
          <div class="container-fluid" style="margin-bottom: -60px; height: 80px;">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <a class="navbar-brand" href="{{url_for('main.home')}}">
                <img style="margin-top: -15px;" src="{{url_for('static', filename="images/logo.jpeg")}}">
                <span>ROOMBOOK</span>
              </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" style="background-color: transparent;"
              id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link" style="color: #BB86FC;" href="{{url_for('main.home')}}">Home</a>
                <a class="nav-link" style="color: white;" href="{{url_for('main.home')}}">Ruangan</a>
                <div class="nav-profile">
                  <li class="nav-item dropdown" style="color: white; display: flex;">
                    <img src="{{url_for('static', filename="images/" + current_user.image_file)}}" style="flex: 3;  margin-left: 25px;
                                width: 60px; height: 60px; border-radius: 50%;" alt="">
                    <a class="nav-link dropdown-toggle" style="color: white; flex: 1;" href="#" id="navbarDropdown"
                      role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {{current_user.username}}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                      style="background-color: #3D3D3D;">
                      <li><a class="dropdown-item" href="{{url_for('users.account')}}" style="color: white;">Profile</a>
                      </li>
                      <li><a class="dropdown-item" href="#"
                          style="color: white; border-bottom: 1px solid white;">History</a></li>
                      <li><a class="dropdown-item" href="{{url_for('users.logout')}}" style="color: #BB86FC;">Log
                          Out</a></li>
                    </ul>
                  </li>
                </div>

              </div>
            </div>
          </div>
        </nav>
      </div> <br> <br>
      <div>
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
              <div class="alert alert-{{ category }} d-flex justify-content-center">
                  {{ message }}
              </div>
              {% endfor %}
          {% endif %}
          {% endwith %}
      </div>
    </header>

    <body>
      
      <div class="container-isi" data-aos="zoom-in" data-aos-duration="1000">
        <div class="profile">
          <img src="{{url_for('static',filename="images/" + current_user.image_file)}}" alt="" data-aos="flip-left"
            data-aos-duration="500" data-aos-delay="1000">
          <!-- Ganti username nya nanti -->
          <p class="username" data-aos="fade-left" data-aos-duration="500" data-aos-delay="1000">{{current_user.username}}</p>
          <ul class="list-group mt-5 me-4" data-aos="flip-left" data-aos-duration="500" data-aos-delay="1000">
            <li class="mb-3 list-group-item">Room Information</li>
            <li class="mb-3 list-group-item">Book Reservation</li>
            <li class="mb-3 list-group-item active" aria-current="true">Confirmation and Payment</li>
          </ul>
        </div>

        <div class="isi-utama scrollspy-example" data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" tabindex="0">
          <div class="bagian-tengah mt-3 pb-3">
            <div class="container">
                <div class="mb-5 mt-5">
                  <h1 style="color: #BB86FC;" class="title">Payment</h1>
                </div>
                <div class="payment container">
                  <div class="row head">
                    <div class="col">
                      RoomBook
                    </div>
                    <div class="col d-flex justify-content-end">
                      {% if status == "pending" %}
                        <h5 class="btn btn-secondary btn-md"><i class="bi bi-clock me-2"></i>{{status}}</h5>
                      {% elif status == "capture" or status == "settlement"%}
                        <h5 class="btn btn-success btn-md"><i class="bi bi-check me-2"></i>{{status}}</h5>
                      {% elif status == "deny" or status == "cancel" or status == "expire"%}
                        <h5 class="btn btn-danger btn-md"><i class="bi bi-x me-2"></i>{{status}}</h5>
                      {% elif status == "refund"%}
                        <h5 class="btn btn-info btn-md"><i class="bi bi-arrow-counterclockwise me-2"></i>{{status}}</h5>
                      {% endif %}
                    </div>
                  </div>
                  <div class="amount">
                    <div class="row price">
                      <div class="col">
                        <h5><strong>Amount</strong></h5>
                      </div>
                      <div class="col">
                        <h3>{{priceSumFormatted}}</h3>
                      </div>
                    </div>
                    <div class="row orderid">
                      <div class="col">
                        <small class=""><strong>Order ID</strong></small>
                      </div>
                      <div class="col">
                        <small class="" style="color:whitesmoke;">{{trans.id}}</small>
                      </div>
                    </div>
                  </div>
                  <div class="timeout">
                    Please complete this payment before {{expire}}
                  </div>
                  <div class="account-number">
                    {% if payment_type in ["BCA","BNI","BRI"] %}
                      <h5> <strong>Account Number</strong> </h5>
                      <h2 class="ms-4">{{va_numbers}}</h2>
                    {% elif payment_type == "GOPAY" %}
                      <h6> <strong>Please scan the QR code below with Gojek app</strong> </h6>
                      <div class="text-center mt-4 mb-4">
                        <img class="text-center" src="{{qrURL}}" style="height:65%; width: 65%;">
                      </div>
                    {% endif %}
                  </div>
                  <div class="cara-pembayaran mt-4">
                    <div class="row head">
                      <div class="col">
                        <h6 class="mb-3 head-title">Cara pembayaran</h6>
                      </div>
                      <div class="col d-flex justify-content-end">
                        <img class="payment-logo" src="{{url_for('static',filename="images/" + payment_type + ".png")}}" alt="">
                      </div>
                    </div>
                    {% if payment_type == "BRI" %}
                      <nav aria-label="Page navigation example">
                      <ul class="pagination pagination-md justify-content-center">
                        <li class="page-item active text-center" aria-current="page" id="option1">
                          <a class="page-link">ATM BRI</a>
                        </li>
                        <li class="page-item text-center" id="option2"><a class="page-link" >IB BRI</a></li>
                        <li class="page-item text-center" id="option3"><a class="page-link" >BRImo</a></li>
                      </ul>
                      </nav>
                      <ul class="list-group content-page"  id="content1">
                        <li class="list-group-item">1.	On the main menu, choose Other Transaction.</li>
                        <li class="list-group-item">2.	Choose Payment.</li>
                        <li class="list-group-item">3.	Choose Other.</li>
                        <li class="list-group-item">4.	Choose BRIVA.</li>
                        <li class="list-group-item">5.	Enter your BRIVA Number and press Correct.</li>
                        <li class="list-group-item">6.	Amount to be paid, payment code, and merchant name will appear on the payment confirmation page. If the information is correct, press Yes.</li>
                        <li class="list-group-item">7.	Payment is finished. Save your payment receipt.</li>
                      </ul>
                      <ul class="list-group content-page" id="content2">
                        <li class="list-group-item">1.	Log in to your Internet Banking BRI.</li>
                        <li class="list-group-item">2.	Choose Payment & Purchase.</li>
                        <li class="list-group-item">3.	Choose sub menu BRIVA.</li>
                        <li class="list-group-item">4.	Input BRIVA number.</li>
                        <li class="list-group-item">5.	Amount to be paid, payment code, and merchant name will appear on the payment confirmation page. If the information is correct, choose Send.</li>
                        <li class="list-group-item">6.	Input password and mToken, choose Send.</li>
                        <li class="list-group-item">7.	Payment is finished, choose Print to have payment receipt.</li>
                      </ul>
                      <ul class="list-group content-page" id="content3">
                        <li class="list-group-item">1.	Log in to your BRI Mobile app, choose Mobile Banking BRI.</li>
                        <li class="list-group-item">2.	Choose Payment, then choose BRIVA.</li>
                        <li class="list-group-item">3.	Input BRIVA Number.</li>
                        <li class="list-group-item">4.	Amount to be paid, payment code, and merchant name will appear on the payment confirmation page. If the information is correct, choose Continue.</li>
                        <li class="list-group-item">5.	Input your Mobile Banking BRI PIN, choose Ok.</li>
                        <li class="list-group-item">6.	Payment is finished. Save the notification as your payment receipt.</li>
                      </ul>
                    {% elif payment_type == "BNI" %}
                      <nav aria-label="Page navigation example">
                      <ul class="pagination pagination-md justify-content-center">
                        <li class="page-item active text-center" aria-current="page" id="option1">
                          <a class="page-link">ATM BNI</a>
                        </li>
                        <li class="page-item text-center" id="option2"><a class="page-link" >Internet Banking</a></li>
                        <li class="page-item text-center" id="option3"><a class="page-link" >Mobile Banking</a></li>
                      </ul>
                      </nav>
                      <ul class="list-group content-page"  id="content1">
                        <li class="list-group-item">1.	On the main menu, choose Others.</li>
                        <li class="list-group-item">2.	Choose Transfer.</li>
                        <li class="list-group-item">3.	Choose Savings Account.</li>
                        <li class="list-group-item">4.	Choose To BNI Account.</li>
                        <li class="list-group-item">5.	Enter the payment account number and press Yes.</li>
                        <li class="list-group-item">6.	Enter the full amount to be paid. If the amount entered is not the same as the invoiced amount, the transaction will be declined.</li>
                        <li class="list-group-item">7.	Amount to be paid, account number, and merchant name will appear on the payment confirmation page. If the information is correct, press Yes.</li>
                        <li class="list-group-item">8.	You are done.<li class="list-group-item"></li></li>
                      </ul>
                      <ul class="list-group content-page" id="content2">
                        <li class="list-group-item">1.	Go to https://ibank.bni.co.id and then click Login.</li>
                        <li class="list-group-item">2.	Continue login with your User ID and Password.</li>
                        <li class="list-group-item">3.	Click Transfer and then Add Favorite Account and choose Antar Rekening BNI.</li>
                        <li class="list-group-item">4.	Enter account name, account number, and email and then click Continue.</li>
                        <li class="list-group-item">5.	Input the Authentification Code from your token and then click Continue.</li>
                        <li class="list-group-item">6.	Back to main menu and select Transfer and then Transfer Antar Rekening BNI.</li>
                        <li class="list-group-item">7.	Pick the account that you just created in the previous step as Rekening Tujuan and fill in the rest before clicking Continue.</li>
                        <li class="list-group-item">8.	Check whether the details are correct, if they are, please input the Authentification Code and click Continue and you are done.</li>
                      </ul>
                      <ul class="list-group content-page" id="content3">
                        <li class="list-group-item">1.	Open the BNI Mobile Banking app and login</li>
                        <li class="list-group-item">2.	Choose menu Transfer</li>
                        <li class="list-group-item">3.	Choose menu Virtual Account Billing</li>
                        <li class="list-group-item">4.	Choose the bank account you want to use</li>
                        <li class="list-group-item">5.	Enter the 16 digits virtual account number</li>
                        <li class="list-group-item">6.	The billing information will appear on the payment validation page</li>
                        <li class="list-group-item">7.	If the information is correct, enter your password to proceed the payment</li>
                        <li class="list-group-item">8.	Your transaction will be processed</li>
                      </ul>
                    {% elif payment_type == "BCA" %}
                      <nav aria-label="Page navigation example">
                      <ul class="pagination pagination-md justify-content-center">
                        <li class="page-item active text-center" aria-current="page" id="option1">
                          <a class="page-link">ATM BCA</a>
                        </li>
                        <li class="page-item text-center" id="option2"><a class="page-link" >Klik BCA</a></li>
                        <li class="page-item text-center" id="option3"><a class="page-link" >m-BCA</a></li>
                      </ul>
                      </nav>
                      <ul class="list-group content-page"  id="content1">
                        <li class="list-group-item">1.	On the main menu, choose Other Transaction.</li>
                        <li class="list-group-item">2.	Choose Transfer.</li>
                        <li class="list-group-item">3.	Choose Transfer To BCA Virtual Account.</li>
                        <li class="list-group-item">4.	Enter your Payment Code (11 digits code) and press Correct.</li>
                        <li class="list-group-item">5.	Enter the full amount to be paid and press Correct.</li>
                        <li class="list-group-item">6.	Your payment details will appear on the payment confirmation page. If the information is correct press Yes.</li>
                      </ul>
                      <ul class="list-group content-page" id="content2">
                        <li class="list-group-item">1.	Choose Menu Fund Transfer.</li>
                        <li class="list-group-item">2.	Choose Transfer To BCA Virtual Account.</li>
                        <li class="list-group-item">3.	Input BCA Virtual Account Number or Choose from Transfer list and click Continue.</li>
                        <li class="list-group-item">4.	Amount to be paid, account number and Merchant name will appear on the payment confirmation page, if the information is right click Continue.</li>
                        <li class="list-group-item">5.	Get your BCA token and input KEYBCA Response APPLI 1 and click Submit.</li>
                        <li class="list-group-item">6.	Your Transaction is Done.</li>
                      </ul>
                      <ul class="list-group content-page" id="content3">
                        <li class="list-group-item">1.	Log in to your BCA Mobile app.</li>
                        <li class="list-group-item">2.	Choose m-BCA, then input your m-BCA access code.</li>
                        <li class="list-group-item">3.	Choose m-Transfer, then choose BCA Virtual Account.</li>
                        <li class="list-group-item">4.	Input Virtual Account Number or choose an existing account from Daftar Transfer.</li>
                        <li class="list-group-item">5.	Input the payable amount.</li>
                        <li class="list-group-item">6.	Input your m-BCA pin.</li>
                        <li class="list-group-item">7.	Payment is finished. Save the notification as your payment receipt.</li>
                      </ul>
                    {% elif payment_type == "GOPAY" %}
                      <ul class="list-group">
                        <li class="list-group-item">1.	Open your Gojek or other e-wallet apps.</li>
                        <li class="list-group-item">2.	Scan the QR code shown on your monitor.</li>
                        <li class="list-group-item"><img src="{{url_for('static',filename='images/qr-instruction.png')}}" style="height:50%;width:50%;"></li>
                        <li class="list-group-item">3.	Check your payment details in the app, then tap Pay.</li>
                        <li class="list-group-item">4.	Enter your PIN.</li>
                        <li class="list-group-item">5.	Your transaction is complete.</li>
                      </ul>
                    {% endif %}
                  </div>
                  <div class="p-3 d-flex justify-content-end me-4">
                    <button class="btn btn-md btn-danger me-4" data-bs-toggle="modal" data-bs-target="#CancelModal">Cancel</button>
                    <button class="btn btn-md btn-primary" id="checkpayment" onclick="document.location.href='{{url_for('rooms.room_book_transaction',id=room.id,transID=trans.id)}}';">Check Payment Status</button>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="bag-info-ruangan">
          <div class="container">
            <div class="mb-4 mt-5">
                <h1 style="color: #BB86FC;">Confirmation</h1>
            </div>
            <div class="mb-4">
                <h4 class="mb-3">Room Information</h4>
                <table class="table table-striped table-dark">
                    <tbody>
                        <tr>
                        <th scope="row">Room Name</th>
                        <td>{{room.name}}</td>
                        </tr>
                        <tr>
                        <th scope="row">Selected Date</th>
                        <td>
                        {% for date in selected_date %}
                            <li class="list-group-item bg-dark text-light">{{date}}</li>
                        {% endfor %}
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="mb-4">
                <h4 class="mb-3">Contact Information</h4>
                <table class="table table-striped table-dark">
                    <tbody>
                        <tr>
                            <th scope="row">Name</th>
                            <td>{{book_info.name}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Phone</th>
                            <td>{{book_info.phone}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td>{{book_info.email}}</td>
                        </tr>
                    </tbody>
                </table>
            </div class="mb-4">
                <h4 class="mb-3">Event Information</h4>
                <table class="table table-striped table-dark">
                    <tbody>
                        <tr>
                            <th scope="row">Event Name</th>
                            <td>{{book_info.event}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Organizer</th>
                            <td>{{book_info.organization}}</td>
                        </tr>
                    </tbody>
                </table>
            <div class="mb-4">
                <h4 class="mb-3">Price</h4>
                <table class="table table-striped table-dark">
                    <tbody>
                        <tr>
                            <th scope="row">Price Per Day</th>
                            <td>{{priceFormatted}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Number of Day</th>
                            <td>{{selected_date | length}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Sum</th>
                            <td>{{priceSumFormatted}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="mb-4">
              
            </div>
        </div>
        </div>
      </div>

      
            <!-- Modal -->
      <div class="modal fade" id="CancelModal" tabindex="-1" aria-labelledby="CancelModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content bg-dark text-white">
            <div class="modal-header">
              <h5 class="modal-title text-danger" id="exampleModalLabel">Are you sure want to cancel this order?</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-danger" onclick="location.href='{{url_for('rooms.room_book_cancel',id=room.id,transID=trans.id)}}'">Cancel Order</button>
            </div>
          </div>
        </div>
      </div>
      <content>

      </content>

      <!-- FOOTER -->
      <footer>
        <div class="copyright">
          <h5>Copyright 2021 All Rights Reserved RoomBook.</h5>
        </div>
      </footer>
      <!-- Optional JavaScript; choose one of the two! -->
      <!-- Option 1: Bootstrap Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

      <!-- Option 2: Separate Popper and Bootstrap JS -->
      <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
      <script src="{{url_for('static',filename="scripts/payment.js")}}"></script>
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
        AOS.init({
          once: true,
        });
      </script>
    </body>

</html>